:root {
    --bg-color: #333333;
    --color: #ffffff
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    margin: 40px auto;
}


ul li {
    list-style: none;
    display: inline-block;
}

li {
    margin: 0 20px;
}


#block-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

#circle-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

#random {
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
}

.btn-container {
    margin: 0 auto;
    display: flex;
}

.back-container {
    display: flex;
    margin: 20px 0;
}
a {
    color: white;
    text-align: center;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    text-align: center;
}

.header {
    text-align: center; 
    line-height: 3rem;
}

.route {
    cursor: pointer;
    text-decoration: underline;
}